{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Биография</h1>
  <p>Первое впечатление имеет значение, особенно в сети. Вот почему ваша профессиональная биография –
    один из самых важных рекламных материалов, которые вы когда-либо писали.  В Твиттере,  LinkedIn,
    вашем онлайн-портфолио или на сайте работодателя ваша профессиональная биография – первое,
    что прочитают люди, чтобы понять, кто вы и что делаете.  От того, какие моменты вы подчеркнёте в ней,
    будет зависеть то, как читатели воспримут вас – как соискателя работы, публичного спикера, автора,
    предпринимателя и т.д. </p>
</div>
{% endblock %}