{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Продукт shoes</h1>
<div class="card mb-3">
  <img src="{{ url_for('static', filename='image/shoes.png') }}" class="card-img-top" alt="Shoes">
  <div class="card-body">
    <h5 class="card-title">Shoes</h5>
    <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
    <a href="#" class="btn btn-primary">Купить</a>
  </div>
</div>
</div>
{% endblock %}